h1{
    color:orangered;
}

h2{
    color:hotpink;
    font-style: italic;
}

h3{
    color:violet;
}

h4{
    color:lightpink;
}

.parrafo{
    font-size: small;
    color:lightcoral;
}

#lista {
    color:plum;
}

#favorito {
    font-weight: bold;
}